<h1>Exemplo renderização Diagrama de Fluxo de trabalho - Flowable</h1>
<label>Selecione um modelo</label>
<div class="form-group" *ngIf="models.length">
  <label for="my-select">Text</label>
  <select id="my-select" class="form-control" (change)="changeModel($event.target.value)">
    <option [value]="null">Selecione um Repositorio</option>
    <option *ngFor="let model of models" [value]="model.id">{{model.name}}</option>
  </select>

  <select id="my-select" class="form-control" (change)="changeResource($event.target.value)">
    <option [value]="null">Selecione um Modelo</option>

    <option *ngFor="let resource of resources" [value]="resource.id">{{resource.id}}</option>
  </select>
</div>
<div class="diagram-parent">
  <app-diagram [url]="diagramUrl" (importDone)="handleImported($event)"></app-diagram>

  <div class="import-error" *ngIf="importError">
    <strong>Failed to render diagram: </strong>
    {{ importError.message }}
  </div>
</div>